<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Sim0ple App</title>
    <!-- Agregar Vue.js desde CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.js"></script>
</head>
<body>
     
    <div id="app">
        <h1>Lista de Tareas</h1>
        <input type="text" v-model="nuevaTarea" placeholder="Agregar nueva tarea">
        <button @click="agregarTarea">Agregar</button>
        <ul>
            <li v-for="(tarea, index) in tareas" :key="index">
                {{ tarea }}
                
                <button @click="eliminarTarea(index)">Eliminar</button>
            </li>
        </ul>

    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    tareas: ['1', '2', '3'],
                    nuevaTarea: ''
                };
            },
            methods: {
                // Puedes agregar métodos aquí si es necesario
                agregarTarea() {
                    if (this.nuevaTarea.trim() !== '') {
                        this.tareas.push(this.nuevaTarea);
                        this.nuevaTarea = ''; // Limpiar el campo de entrada
                    }
                },
                eliminarTarea(index) {
                    this.tareas.splice(index, 1); // Eliminar la tarea en el índice especificado
                }
               
                
            }
        });

        app.mount('#app');
    </script>
</body>
</html>
